
      html {
        /* background-color: rgb(247, 210, 188); */
        /* box-sizing: border-box; */
      }
      
      body {
        box-sizing: inherit;
        /* font-family: Tahoma, sans-serif; */
        font-family: "Noto Sans CJK TC Light";;
        font-size: 87%;
      }








      .container {
        max-width: 1050px;
        margin: 0 auto;
        /* background-color: ivory; */
        

      }

      






     .header {
        /* background-color: bisque; */
        margin:0 ;
        display: flex;

         
      }

      .IMCpicture {
        width: 70%;
        
        /* background-color: rgb(194, 218, 224); */

      }
      .IMCpicture img{
          width: 700px;
          min-width: 100%;
      }




      .worker {
        width: 10%;
        padding-top: 20px;
        /* padding-left: 100px; */
        line-height: 20px;
        font-weight: bold;
        /* background-color: rgb(175, 190, 231); */
        /* overflow: hidden; */
        
      }

      .worker-name{
        width: 20%;
        padding-top: 20px;
        padding-left: 10px;
        line-height: 20px;
        /* background-color: rgb(0, 68, 253); */
      }

      ol {
        padding: 0;
        margin-top: 0;
        padding-top: 0;
      }

      li {
        list-style-type: none;
        font-size: 90%;
      } 





      .dingyue {
        height: 30px;
        background-color: rgb(218, 218, 218);
        text-align: right;
        width: 1015px;

      }
      .rainbow {
        /* background-color: rgb(230, 202, 228); */

      }

      .rainbow img{
        max-width: 1050px;
        /* width: 100px; */
        
      }


       

       
      .article {
        color: rgb(0, 0, 0);
        display: flex;
        /* border-top: 3px solid rgb(239, 241, 64); */
        /* border-bottom: 3px solid rgb(239, 241, 64); */
         

      }

      

      
      .aside {
        background-color:rgb(255, 255, 204);
        width: 30%;
        font-weight: bold;
        color: brown;
        
  
      }

      .imc{
        width: 80px;
        
        margin: 20px 0 20px 110px;
        

        
      }

      .aside-list{
        /* margin: 0 100px; */
        font-size: 20px;
        font-weight: bold;
        display: block;
        text-align: center;
      }

      .aside-list2{
        /* margin: 0 90px; */
        margin-top: 30px;
        font-size: 20px;
        font-weight: bold;
        display: block;
        text-align: center;
      }

     
     

      .aside-list-title {
        font-size: 19px;
        display: block;
        font-weight: 900;
        
        padding: 10px;
        /* margin: 1px; */
        line-height: 25px;
      }
      .aside-list-title p{
        font-size: 20px;
        font-weight: bold;
        color: brown;
        margin-bottom: 6px;
      }

      .aside-list-title a{
        text-decoration: none;
        color:#000099;
      }







      .aside-list-title:hover {
        background-color: rgb(179, 209, 194);
        font-size: 21px;
      }

      .aside-lastcover{
        margin: 10px 0 0 38px;
        width: 225px;
        height: 318px;
      }

      .aside-readmore{
        /* margin-left: px; */
        width: 300px;
        height: 35px;
      }

      .aside-location{
        color: black;
        /* margin-left: 80px; */
        margin-top: 30px;
        margin-bottom: 10px;
        display: block;
        text-align: center;
      }
      .aside-address{
        color: #0000da;
        /* margin-left: 30px; */
        display: block;
        text-align: center;
        /* margin-top: 10px; */
      }
      .aside-webside{
        color: #0000da;
        /* margin-left: 50px; */
        text-decoration: none;
        display: block;
        text-align: center;
        /* margin-top: 20px; */
      }

      .aside-fb{
        margin-left: 110px;
        width: 82px;
        height: 60px;
        
      }
      .aside-email{
        margin-left: 15px;
        width:270px;
        height:95px;
      }

      .aside-epaper{
        margin-left: 8px;
        width:285px;
        height:73px;
      }




      .contant {
        background-color:rgb(255, 255, 255);
        width: 70%;
        padding: 20px;
      
      }

      .contant-tag{
        color: #c00;
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 10px;
      }

      .contant-title{
        font-size: 30px;
        color: #0d0dc4;
        font-weight: bold;
        margin-bottom: 30px;
      }

      .contant-author{
        font-weight: normal;
        margin-bottom: 15px;
      }
      .contant-author a{
        text-decoration: none;
        color: #0d0dc4;
        font-weight: bold;
      }

      .contant-paragraph{
        font-size: 20px;
        line-height: 27px;

      }

      .contant-paragraph-pic{
        width: 500px;
        margin-left: 100px;
        margin-top: 30px;
      }

      .contant-paragraph-pic-figcaption{
        margin-top: 10px;
        margin-left: 100px;
        width: 500px;
      }

      .contant-little-title{
        font-weight: bold;
        color: black;
        font-size: 25px;
        margin-top: 30px;
        margin-bottom: 5px;
      }

      .contant-paragraph-last{
        font-size: 20px;
        line-height: 27px;
        margin-top: 30px;
        margin-bottom: 30px;
      }

      .contant-end-top{
        position: relative;
        padding-bottom: 60px;
      }

      .contant-end-top img{
        width:119px;
        height:23px;
        position: absolute;
        right: 0;
        
      }


      

      .contant-lecture-border{
        /* border: 1px solid black; */
        display: flex;
        width: 700px;
      }

      .contant-lecture-person{
        border: 1px solid black;
        padding: 30px 75px;
      }

      .contant-lecture-title{
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        border-right: 1px solid black;
        padding: 30px 75px;
      }

      .contant-lecture-date{
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        border-right: 1px solid black;
        padding: 30px 60px;
      }


      .contant-lecture-person1{
        border-left: 1px solid black;
        border-bottom: 1px solid black;
        padding: 30px 118.5px;
      }

      .contant-lecture-title2{
        border-left: 1px solid black;
        border-bottom: 1px solid black;
        padding: 30px 92.5px;
      }

      .contant-lecture-date3{
        border-left: 1px solid black;
        border-bottom: 1px solid black;
        border-right: 1px solid black;
        padding: 30px 77.25px;
      }


      .over{
        display: block;
        text-align: center;

      }

      .over div{
        margin-top: 30px;
        margin-bottom: 30px;
        font-weight: bold;
        font-size: 20px;
      }

      .thank{
        margin-top: 30px;
        margin-left: 60px;
        display: block;
        text-align: center;
        width: 600px;
      }

      .thank div{
        font-size: 17px;
        color: #c00;
        font-weight: bold;
      }

      .footer {
        color: #000000;
        background-color: rgb(218, 218, 218);
        text-align: center;
        font-size: 20px;
        padding-top: 50px;
        padding-bottom: 20px;

      }

      @media (max-width:768px){

        .article{
          display: flex;
          flex-direction: column;
        }
        .aside {
          
          width: 100%;
          
          
    
        }


      }
        
      